.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--modal-z-index);
    opacity: 0;
    pointer-events: none;
    color: var(--primary-color);
}

.overlay {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: var(--overlay-bg);
}

.content {
    width: 60%;
    padding: 20px;
    border-radius: 12px;
    background: var(--bg-color);
    transform: scale(0.2);
    transition: transform 0.2s;
}

.opened {
    opacity: 1;
    pointer-events: auto;

    .content {
        transform: scale(1);
    }
}

.closed {
    .content {
        transform: scale(0.2);
    }
}
