.Menu {
    position: relative;
}

.btn {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.itemsContainer {
    position: absolute;
    z-index: 10000;
    background: var(--card-bg);
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.7;
    cursor: default;
}

.itemsBottomLeft {
    top: 100%;
    right: 0;
}

.itemsBottomRight {
    top: 100%;
    left: 0;
}

.itemsTopRight {
    bottom: 100%;
    left: 0;
}

.itemsTopLeft {
    right: 0;
    bottom: 100%;
}
